/*!***********************************************************************************************************************!*\
  !*** css ./node_modules/.pnpm/css-loader@7.1.2_webpack@5.101.0/node_modules/css-loader/dist/cjs.js!./src/default.css ***!
  \***********************************************************************************************************************/
/* * {
  margin: 0;
  padding: 0;
} */

body {
  margin: 0;
  padding: 0;
  background-color: #f0f2f5;
}

/*!*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/.pnpm/css-loader@7.1.2_webpack@5.101.0/node_modules/css-loader/dist/cjs.js!./node_modules/.pnpm/vue-loader@15.11.1_@vue+compiler-sfc@3.5.18_css-loader@7.1.2_webpack@5.101.0__lodash@4._08391a3d3b433fadcc207c42207594cc/node_modules/vue-loader/lib/loaders/stylePostLoader.js!./node_modules/.pnpm/sass-loader@16.0.5_sass@1.89.2_webpack@5.101.0/node_modules/sass-loader/dist/cjs.js!./node_modules/.pnpm/vue-loader@15.11.1_@vue+compiler-sfc@3.5.18_css-loader@7.1.2_webpack@5.101.0__lodash@4._08391a3d3b433fadcc207c42207594cc/node_modules/vue-loader/lib/index.js??vue-loader-options!./src/App.vue?vue&type=style&index=0&id=7ba5bd90&lang=scss&scoped=true ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.app[data-v-7ba5bd90] {
  height: 100vh;
  overflow: hidden;
}
.header[data-v-7ba5bd90] {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
  height: 60px;
  background-color: #545c64;
  display: flex;
  align-items: center;
  padding: 0 16px;
  gap: 16px;
}
.header__title[data-v-7ba5bd90] {
  font-size: 20px;
  font-weight: bold;
  color: #fff;
}
.flow[data-v-7ba5bd90] {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}
.flow .placeholder[data-v-7ba5bd90] {
  height: 60px;
}
.flow .content[data-v-7ba5bd90] {
  flex: 1;
  padding: 16px;
  overflow-y: auto;
  position: relative;
}
