/**
 * @description kpl分割图ad
 * @author aolongyu
 * @created 2020/11/20 11:40:54
 */

.body-container-kpl {
    width: 1420px;
    margin-left: 11%;
    margin: 0 auto;
}

.kpl-ad {
    float: left;
    width: 100%;
    height: 110px;
    margin-top: 30px;
    background-image: url(../static/img/kpl/kpl-ad.png);
    background-repeat: no-repeat;
}